body {
  font-family: "Verdana";
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  line-height: 1.6;
}
header {
  background-color: #032833;
  color: #ecf0f1;
  text-align: center;
  padding: 1rem 0;
  border-bottom: 4px solid mediumaquamarine;
  
}
header:hover::before { 
    left: 190px; 
  } 
section {
  text-align: justify;
  padding: 2rem 10%;
  background-color: #fff;
  margin: 1rem 5%;
  border-radius: 5px;
}
h1,
h2 {
  font-weight: 700;
}
h2 {
  border-bottom: 2px solid #2980b9;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}
ol {
  margin-left: 1.5rem;
}
a {
  color: #2980b9;
  text-decoration: none;
  transition: color 0.3s;
}
a:hover {
  color: #2c3e50;
}
footer {
  text-align: center;
  padding: 1rem 0;
  background-color: #032833;
  color: #ffffff;
  border-top: 5px solid mediumaquamarine;
}
.team-members {
  font-weight: inherit;
  margin-top: 1rem;
  font-size: 1.1rem;
}
.button {
    background-color: mediumaquamarine; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }